:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
  
main {
  font-family: 'Open Sans';
  margin-left: 10rem;
  padding: 1rem;
}
.nav_bar{
  display: flex;
  flex-direction: column;
  height: 0px;
  width: 50px;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background: #ececec;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0px 0px 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: gray;
}